<div class="flex mx-auto justify-between my-32 w-10/12 leading-tight">
    <div class="ml-[10px]" >
        <h3 class="text-[#3186D7] text-[40px] font-nunito font-bold">Somos</h3>
        <h1 class="text-[#3186D7] mt-[-15px] text-[65px] font-nunito font-bold">Neuro <span class="text-[#F9AD17]">A1</span></h1>

        <div class="flex mt-4 max-w-[30em] text-[#464647] text-[20px] text-justify font-[450] ">
            <p>Con más de <span class="text-[#3389D2] font-semibold">15 años de experiencia</span>,
            somos más que un centro de atención; somos el punto de partida donde cada
            niño puede descubrir su máximo potencial. Ofrecemos un
            enfoque integral y personalizado, desde estimulación
            temprana hasta evaluaciones neuropsicológicas. <br> <br>
            Promovemos el desarrollo óptimo y el bienestar de cada
            infante, logrando resultados positivos y duraderos.</p>
        </div>
        <button class="text-[#FFFEFE] bg-[#F9AD17] px-[40px] py-3 rounded-full mt-6 font-semibold text-[18px] justify-center" >Conoce más</button>
    </div>

    <img class="w-1/2 mr-[-50px] mt-[45px]"  src="/public/cloud-boys.png" alt="">
</div>