<div class="bg-[#E4E5E5] h-auto py-14 my-16">
    <div class="flex text-[38px] font-nunito font-bold justify-center">
        <h1 class="text-[#3186D7] mt-2">Experiencias en Neuro <span class="text-[#F9AD17]">A1</span>
    </div>

    <div class="grid grid-cols-1 md:grid-cols-3 gap-8 w-10/12 mx-auto mt-10">
        {/* Primer testimonio */}
        <div class="flex flex-col">
            <div class="aspect-video">
                <iframe 
                    class="w-full h-full rounded-lg"
                    src="https://www.youtube.com/embed/Tv7Jz4S9aRg?rel=0"
                    title="Testimonio Úrsula Ángeles"
                    frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
                    allowfullscreen>
                </iframe>
            </div>
            <p class="text-center mt-4 font-medium text-lg">
                Conoce el testimonio de Úrsula Ángeles, mamá de nuestro paciente Andrés Emiliano Nuñez
            </p>
        </div>

        {/* Segundo testimonio */}
        <div class="flex flex-col">
            <div class="aspect-video">
                <iframe 
                    class="w-full h-full rounded-lg"
                    src="https://www.youtube.com/embed/405bSlkKn7Y" 
                    title="Testimonio Marlene Medina"
                    frameborder="0" 
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
                    allowfullscreen>
                </iframe>
            </div>
            <p class="text-center mt-4 font-medium text-lg">
                Conoce el testimonio de Marlene Medina, mamá de nuestro paciente Abraham Málaga
            </p>
        </div>

        {/* Tercer testimonio */}
        <div class="flex flex-col">
            <div class="aspect-video">
                <iframe 
                    class="w-full h-full rounded-lg"
                    src="https://www.youtube.com/embed/nhF1LZMFwMo" 
                    title="Testimonio familia Periche"
                    frameborder="0" 
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
                    allowfullscreen>
                </iframe>
            </div>
            <p class="text-center mt-4 font-medium text-lg">
                Conoce el testimonio de la familia Periche
            </p>
        </div>
    </div>
</div>  