<header class=" h-36 flex justify-between items-center w-10/12 m-auto">
    <img class="w-[395px] ml-[-15px]"src="/Public/Logo.webp" alt="Logo NeuroA1">
    
    <nav class="flex tracking-[-0.01em] gap-6 text-light-blue font-[500] text-[16px] text-[#70A3E1] ">
        <a href="#" class="p-4 hover:text-[#feae16]">Inicio</a>
        <a href="#" class="p-4 hover:text-[#feae16]">Servicios</a>
        <a href="#" class="p-4 hover:text-[#feae16]">Staff Multidisciplinario</a>
        <a href="#" class="p-4 hover:text-[#feae16]">Ubicación</a>
    </nav>

</header>