<header class="h-36 flex justify-between items-center w-10/12 m-auto">
    <img class="w-[395px] ml-[-15px]" src="https://stdscmwxpsffrpucmitu.supabase.co/storage/v1/object/public/Assets/Home/logo.png" alt="Logo NeuroA1">
  
    <nav class="flex gap-6 font-medium text-light-blue text-[16px] text-[#70A3E1]" aria-label="Navegación principal">
      <ul class="flex gap-6">
        <li><a href="/index" class="p-4 hover:text-[#feae16]">Inicio</a></li>
        <li><a href="/services" class="p-4 hover:text-[#feae16]">Servicios</a></li>
        <li><a href="/staff" class="p-4 hover:text-[#feae16]">Staff Multidisciplinario</a></li>
        <li><a href="/location" class="p-4 hover:text-[#feae16]">Ubicación</a></li>
      </ul>
    </nav>
  </header>
  