<section class="w-10/12 m-auto py-28 flex flex-col gap-16 relative">
    <h2 class="text-light-blue font-semibold text-6xl text-center">¿Cómo podemos ayudarte?</h2>
    <p class="w-2/3 m-auto text-center text-black text-3xl">Nuestro equipo multidisciplinario se dedica a convertir <span class="text-light-blue font-semibold">desafíos en logros</span>, apoyando a
        bebés prematuros y niños con diversas condiciones como:</p>
    <div class="flex flex-row justify-between pt-7">
        <div class="flex flex-col gap-8 text-[28px] text-light-blue font-semibold">
            <a href="#" class="flex gap-4"><img src="/list-icon.png" alt="list-icon">Trastorno del espectro autista (TEA)</a>
            <a href="#" class="flex gap-4"><img src="/list-icon.png" alt="list-icon">Trastorno de déficit de atención e hiperactividad (TDAH)</a>
            <a href="#" class="flex gap-4"><img src="/list-icon.png" alt="list-icon">Síndrome de Down</a>
            <a href="#" class="flex gap-4"><img src="/list-icon.png" alt="list-icon">Problemas de lenguaje</a>
            <a href="#" class="flex gap-4"><img src="/list-icon.png" alt="list-icon">Problemas de aprendizaje</a>
        </div>
        <div class="flex flex-col gap-8 text-[28px] text-light-blue font-semibold">
            <a href="#" class="flex gap-4"><img src="/list-icon.png" alt="list-icon">Problemas de atención</a>
            <a href="#" class="flex gap-4"><img src="/list-icon.png" alt="list-icon">Problemas de conducta</a>
            <a href="#" class="flex gap-4"><img src="/list-icon.png" alt="list-icon">Problemas de concentración</a>
            <a href="#" class="flex gap-4"><img src="/list-icon.png" alt="list-icon">Estimulación temprana</a>
            <a href="#" class="flex gap-4"><img src="/list-icon.png" alt="list-icon">Problemas psicológicos (Ansiedad, depresión, etc)</a>
        </div>
    </div>
    <button class="bg-light-yellow text-white rounded-full w-64 h-14 mt-4 text-2xl m-auto font-semiboldbold cursor-pointer">Nuestros Servicios</button>
    <img class="absolute -left-[10%] top-[9rem]"
    src="/flecha.png" 
    alt="flecha">
    <img class="absolute -right-[10%] top-[9rem] -scale-x-100"
    src="/flecha.png" 
    alt="flecha">
</section>